Tutorial Discussing the difference between List and Tuples

In [10]:
i=3
if i in [1,2,3,4]:
    print " exist ",i
else:
    print "Doesnt exist "

 exist  3

In [7]:
i=3
if i in (1,3):
    print "In tuple", i

In tuple 3

In [26]:
for i in [1,2,3,4]:
    print i

1
2
3
4

In [27]:
x=(1,2)
for i in range(1,4,2):
    print x*i

(1, 2)
(1, 2, 1, 2, 1, 2)

In [28]:
x = lambda a,b: [a,b]*2
x(3,4)

[3, 4, 3, 4]

In [29]:
lam = lambda a,b: (a,b)*2
lam(3,4)

(3, 4, 3, 4)

Mutability and Immutability in List and Tuples

In [30]:
lis = [1,2,3,4]
lis[2]=10
lis

[1, 2, 10, 4]

In [31]:
tupl = (1,2,3)
tupl[2]=10
tupl

TypeError: 'tuple' object does not support item assignment

This means that tuple fails to support mutability as list

In [32]:
a=(1,2)
x=[1,a,"a"]
x

[1, (1, 2), 'a']

I can use Tuple in a list

In [33]:
a=[1,2]
x=(4,a,5)
lam(1,x)

(1, (4, [1, 2], 5), 1, (4, [1, 2], 5))

and vice versa